#Evaluaion_XrayMatching_Matching_Main_Div
{
  background-image: linear-gradient(119deg, #3023ae, #53a0fd 47%, #6eb6cc 81%, #b4ec51);
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
#Evaluaion_XrayMatching_Matching_Content1_Wrapper
{
 
  float:left;
  margin-left:15%;
  margin-right: 3%;
  width:42%;
  min-width:250px;
  max-width: 700px;
  height:100vh;
  
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  
  /* justify-content: center;
  align-items: center; */
}

#Evaluaion_XrayMatching_Matching_Heading1_Div
{
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-weight: 700;
  display: block;
  margin-bottom: 5px;
  font-size: 38px;
  line-height: 40px;
  text-align: left;
  margin-bottom: 10px;
}

#Evaluaion_XrayMatching_Matching_Heading2_Div
{
  font-family: 'Lato', sans-serif;
  color: #fff;
  display: block;
  margin-bottom: 5px;
  font-size: 22px;
  line-height: 30px;
  text-align: left;
  margin-bottom: 30px;
}



.Evaluaion_XrayMatching_Matching_State_Button_Div
{
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.Evaluaion_XrayMatching_Matching_State_Button
{
    display: block;
    width:100% !important;
    padding: 5px 15px !important;
    font-size: 32px !important;
    border-radius: 25px !important;
    /* border-width: 1px !important;
    border-color: hsla(0, 0%, 100%, 0.34) !important; */
    font-family: 'Lato', sans-serif !important;
    text-transform: none !important;
}

.Evaluaion_XrayMatching_Matching_Confirm_Button_Div
{
  display: inline-block;
  width:55%;
}

.Evaluaion_XrayMatching_Matching_Confirm_Button
{
    display: inline-block;
    width:100% !important;
    padding: 5px 15px !important;
    font-size: 28px !important;
    border-radius: 25px !important;
    background: #b4ec51 !important;
    font-family: 'Lato', sans-serif !important;
    text-transform: none !important;
}

.Evaluaion_XrayMatching_Matching_AddNotes_Button_Div
{
  width: 35%;
  float: right;
}

.Evaluaion_XrayMatching_Matching_Modal1_Button_Div
{
  width: 35%;
  float: left;
  margin-right: 20px;
}

.Evaluaion_XrayMatching_Matching_Modal2_Button_Div
{
  width: 30%;
  float: left;
}

.Evaluaion_XrayMatching_Matching_AddNotes_Button
{
  display: inline-block;
  width:100% !important;
  padding: 5px 15px !important;
  font-size: 20px !important;
  line-height: 48px !important;
  border-radius: 25px !important;
  background: #b4ec51 !important;
  font-family: 'Lato', sans-serif !important;
  text-transform: none !important;
}

.Evaluaion_XrayMatching_Matching_View_FullXray_Button_Div
{
  position: absolute;
  bottom:10px;
  right:10px;
}

#Evaluaion_XrayMatching_Matching_View_FullXray_Button
{
  display: inline-block;
  width:100% !important;
  padding: 5px 5px !important;
  font-size: 15px !important;
  line-height: 30px !important;
  border-radius: 15px !important;
  background: #b4ec51 !important;
  font-family: 'Lato', sans-serif !important;
  text-transform: none !important;
}


.Evaluaion_XrayMatching_Matching_View_NoImage_FullXray_Text_Div
{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 50%;
}

.Evaluaion_XrayMatching_Matching_View_NoImage_FullXray_Button_Div
{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  height: 50%;
}

#Evaluaion_XrayMatching_Matching_View_NoImage_FullXray_Button
{
  display: inline-block;
  width:100% !important;
  padding: 5px 5px !important;
  font-size: 15px !important;
  line-height: 30px !important;
  /* border-radius: 15px !important; */
  /* background: #b4ec51 !important; */
  font-family: 'Lato', sans-serif !important;
  text-transform: none !important;
  max-width: 300px !important;
}

.Evaluaion_XrayMatching_Matching_Modal2_Button
{
  display: inline-block;
  width:100% !important;
  padding: 5px 15px !important;
  font-size: 20px !important;
  line-height: 48px !important;
  border-radius: 25px !important;
  font-family: 'Lato', sans-serif !important;
  text-transform: none !important;
  border: 1px solid #b4ec51 !important;
  color:#b4ec51 !important;
}

#Evaluaion_XrayMatching_Matching_Content2_Wrapper
{
  float:left;
  /* width:35%; */
  /* min-width:250px; */
  max-width: 700px;
  height:100vh;
  
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  
  /* justify-content: center;
  align-items: center; */
}

.Evaluaion_XrayMatching_Matching_Xray_Image_Wrapper
{
  /* style={{maxWidth:'500px',maxHeight:'calc(50% - 50px)',textAlign:'center',position:'relative'}} */
  position: relative;
}

.Evaluaion_XrayMatching_Matching_Xray_Image
{
  /* style={{maxWidth:'100%',maxHeight:'100%'}} */
  /* position: relative; */
  max-width: 500px;
  max-height: calc(50vh - 50px);
}

.Evaluaion_XrayMatching_Matching_NoXray_Box
{
  /* style={{maxWidth:'100%',maxHeight:'100%'}} */
  /* position: relative; */
  max-width: calc(500px - 20px);    /* 20px padding */
  
  max-height: calc(50vh - 70px);  /* 20px padding */
  background: grey;
  height:370px;
  text-align: center;
  justify-content: center;
  font-size:38px;
  padding:10px;
  line-height: 45px;
  color:white;
  display:flex;
  flex-direction: column;
  
}

#Evaluaion_XrayMatching_Matching_Heading3_Div
{
  font-family: 'Lato', sans-serif;
  color: #fff;
  display: block;
  margin-bottom: 5px;
  font-size: 28px;
  line-height: 30px;
  text-align: left;
  margin-bottom: 30px;
}

.matching-down
{
  position: relative;
  /* max-width: 500px;
  max-height: calc(50% - 49px);
  margin-left:0px;
  text-align: center; */
  /* margin: auto; */
}

.Evaluaion_XrayMatching_Matching_Modal_Div
{
  background:#3023AE;
  width:500px;
  height:480px;
  padding-top:15px;
  border-radius: 0px;
  outline:none !important;
}

.Evaluaion_XrayMatching_Matching_Modal_Div1
{
  background:#3023AE;
  width:500px;
  height:520px;
  padding-top:15px;
  border-radius: 0px;
  outline:none !important;
}

.Evaluaion_XrayMatching_Matching_Modal_Heading
{
  margin-left:50px;
  margin-bottom:20px;
  font-size: 36px;
  font-family: Lato, sans-serif;
  color: #fff;
}

.Evaluaion_XrayMatching_Matching_Modal_Heading1
{
  text-align: center;
  margin-bottom:10px;
  font-size: 36px;
  font-family: Lato, sans-serif;
  color: #fff;
}


.Evaluaion_XrayMatching_Matching_Modal_Description
{
  text-align: center;
  margin-bottom:10px;
  font-size: 20px;
  font-family: Lato, sans-serif;
  color: #fff;
}

.Evaluaion_XrayMatching_Matching_Modal_Sub_Head
{
  margin-left:50px;
  margin-bottom:5px;
  font-size: 18px;
  font-family: Lato, sans-serif;
  color: rgb(153, 138, 138);
}

.Evaluaion_XrayMatching_Matching_Modal_Notes_Div
{
  background:white;
  margin:auto;
  width:400px;
  height:300px;
  border-radius: 10px;
  position: relative;
}

.Evaluaion_XrayMatching_Matching_Modal_Notes_TextArea
{
  width:380px;
  height:280px;
  margin-left: 10px;
  margin-top:10px;
  resize: none;
  border:none;
  outline: none;
  font-size: 20px;
  line-height: 30px;
  overflow: hidden;
}

.Evaluaion_XrayMatching_Matching_Image_Label1
{
  position: absolute;
  top:20px;
  left:20px;
  width:130px;
  height:auto;
  background: white;
  font-size: 18px;
  line-height: 11px;
  font-family: Lato, sans-serif;

  padding: 8px;
}

.Evaluaion_XrayMatching_Matching_Image_Label2
{
  position: absolute;
  top:20px;
  left:20px;
  width:150px;
  height:auto;
  background: rgb(255, 255, 255);
  opacity: 0.8;
  font-size: 13px;
  line-height: 11px;
  font-family: Lato, sans-serif;
  color:#333333;
  padding: 8px;
}


/* @media only screen and (max-height:695px)
{
  .Evaluaion_XrayMatching_Matching_Image_Label2
  {
    left:60px;
  }
  .Evaluaion_XrayMatching_Matching_Image_Label1
  {
    left:60px;
  }
} */

/* .matching-text-to-image-wrapper
{    
  height: inherit;
  max-height: 100%;
  max-width: 100%;
  width: inherit;
  position: relative;

} */


.flipme img
{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.Evaluaion_XrayMatching_Matching_Modal_Notes_Heading
{
  position: absolute;
  top:10px;
  font-size: 20px;
  left:5px;
}

.Evaluaion_XrayMatching_Matching_State_Button_Prediction_Box
{
  position: absolute;
  left:-80px;
  width: 47px;
  background-color: orange;
  padding: 15px;
  top:8px;
  color:black;
  font-weight: 640;
}
