#Evaluaion_XrayMatching_Matching_Main_Div
{
  background-image: linear-gradient(119deg, #3023ae, #53a0fd 47%, #6eb6cc 81%, #b4ec51);
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
#Evaluaion_XrayMatching_Matching_Content1_Wrapper
{
 
  float:left;
  margin-left:15%;
  margin-right: 3%;
  width:42%;
  min-width:250px;
  max-width: 700px;
  height:100vh;
  
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  
  /* justify-content: center;
  align-items: center; */
}

#Evaluaion_XrayMatching_Matching_Heading1_Div
{
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-weight: 700;
  display: block;
  margin-bottom: 5px;
  font-size: 38px;
  line-height: 40px;
  text-align: left;
  margin-bottom: 10px;
}

#Evaluaion_XrayMatching_Matching_Heading2_Div
{
  font-family: 'Lato', sans-serif;
  color: #fff;
  display: block;
  margin-bottom: 5px;
  font-size: 22px;
  line-height: 30px;
  text-align: left;
  margin-bottom: 30px;
}



.Evaluaion_XrayMatching_Matching_State_Button_Div
{
  display: block;
  margin-bottom: 10px;
}

.Evaluaion_XrayMatching_Matching_State_Button
{
    display: block;
    width:100% !important;
    padding: 5px 15px !important;
    font-size: 32px !important;
    border-radius: 25px !important;
    border-width: 1px !important;
    border-color: hsla(0, 0%, 100%, 0.34) !important;
    font-family: 'Lato', sans-serif !important;
    text-transform: none !important;
}

.Evaluaion_XrayMatching_Matching_Confirm_Button_Div
{
  display: inline-block;
  width:55%;
}

.Evaluaion_XrayMatching_Matching_Confirm_Button
{
    display: inline-block;
    width:100% !important;
    padding: 5px 15px !important;
    font-size: 28px !important;
    border-radius: 25px !important;
    background: #b4ec51 !important;
    font-family: 'Lato', sans-serif !important;
    text-transform: none !important;
}

.Evaluaion_XrayMatching_Matching_AddNotes_Button_Div
{
  width: 35%;
  float: right;
}

.Evaluaion_XrayMatching_Matching_Modal1_Button_Div
{
  width: 35%;
  float: left;
  margin-right: 20px;
}

.Evaluaion_XrayMatching_Matching_Modal2_Button_Div
{
  width: 30%;
  float: left;
}

.Evaluaion_XrayMatching_Matching_AddNotes_Button
{
  display: inline-block;
  width:100% !important;
  padding: 5px 15px !important;
  font-size: 20px !important;
  line-height: 48px !important;
  border-radius: 25px !important;
  background: #b4ec51 !important;
  font-family: 'Lato', sans-serif !important;
  text-transform: none !important;
}

.Evaluaion_XrayMatching_Matching_Modal2_Button
{
  display: inline-block;
  width:100% !important;
  padding: 5px 15px !important;
  font-size: 20px !important;
  line-height: 48px !important;
  border-radius: 25px !important;
  font-family: 'Lato', sans-serif !important;
  text-transform: none !important;
  border: 1px solid #b4ec51 !important;
  color:#b4ec51 !important;
}

#Evaluaion_XrayMatching_Matching_Content2_Wrapper
{
  float:left;
  width:35%;
  min-width:250px;
  max-width: 700px;
  height:100vh;
  
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  
  /* justify-content: center;
  align-items: center; */
}

#Evaluaion_XrayMatching_Matching_Heading3_Div
{
  font-family: 'Lato', sans-serif;
  color: #fff;
  display: block;
  margin-bottom: 5px;
  font-size: 28px;
  line-height: 30px;
  text-align: left;
  margin-bottom: 30px;
}

.matching-down
{
  position: relative;
  max-width: 500px;
  max-height: calc(50% - 27px);
  text-align: center;
  /* margin: auto; */
}

.Evaluaion_XrayMatching_Matching_Modal_Div
{
  background:#3023AE;
  width:500px;
  height:480px;
  padding-top:15px;
  border-radius: 0px;
  outline:none !important;
}

.Evaluaion_XrayMatching_Matching_Modal_Heading
{
  margin-left:50px;
  margin-bottom:20px;
  font-size: 36px;
  font-family: Lato, sans-serif;
  color: #fff;
}

.Evaluaion_XrayMatching_Matching_Modal_Notes_Div
{
  background:white;
  margin:auto;
  width:400px;
  height:300px;
  border-radius: 10px;
}

.Evaluaion_XrayMatching_Matching_Modal_Notes_TextArea
{
  width:380px;
  height:280px;
  margin-left: 10px;
  margin-top:10px;
  resize: none;
  border:none;
  outline: none;
  font-size: 20px;
  line-height: 30px;
  overflow: hidden;
}


/* @media only screen and (max-height:657px)
{
  .matching-down
  {
    max-width: 380px;
  }
} */


.flipme img
{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
