.Tutorials_XrayMatching_Education_Report_Explanation_Div
{
    display: inline-block;
    width:200px;
    height:100px;
    background:rgba(18, 20, 53, 0.81);
    font-family: Lato, sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    top: 50vh;
    position: absolute;
    right: 5px;
}