#Tutorials_Overview_Main_Div {
  background-image: linear-gradient(
    119deg,
    #3023ae,
    #53a0fd 47%,
    #6eb6cc 81%,
    #b4ec51
  );
  min-height: 100vh;

  position: relative;
  overflow: hidden;
}

#Tutorials_Overview_Content_Wrapper {
  margin: auto;
  min-width: 700px;
  width: 74%;
  /* max-width: 830px; */
  height: 100vh;
  padding: 0rem 0rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Tutorials_Overview_Center_Wrapper {
  display: flex;
  flex-direction: column;
}

#Tutorials_Overview_Inner_Content_Wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#Tutorials_Overview_Text_Wrapper {
  display: flex;
  align-items: center;
}

#Tutorials_Overview_Image_div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#Tutorials_Overview_Image_Bone {
  width: 28vw;
  /* max-width: 400px;
  min-width: 250px; */
}

#Tutorials_Overview_Heading1_Div {
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 3vw;
  margin-bottom: 10px;
  display: block;
  font-weight: bold;
}

#Tutorials_Overview_Text_Div {
  font-size: 2vw;
  font-family: Lato, sans-serif;
  color: #fff;
}

#Tutorials_Overview_Text_Div ul li {
  margin-left: 5%;
  margin-top: 5px;
  /* line-height: 3vw; */
  display: list-item;
  list-style: disc;
}

#Tutorials_Overview_Next_Button_Div {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#Tutorials_Overview_Next_Button {
  display: block;
  width: auto;
  min-width: 220px;
  padding: 15px 25px;
  font-size: 1.3vw;
  line-height: 1.4vw;
  border-radius: 25px;
  background-color: #b4ec51;
  font-family: Lato, sans-serif;
}

#Tutorials_Overview_Back_Button {
  display: block;
  width: auto;
  min-width: 220px;
  padding: 15px 25px;
  font-size: 1.3vw;
  line-height: 1.4vw;
  border-radius: 25px;
  background-color: #b4ec51;
  font-family: Lato, sans-serif;
}

@media screen and (max-width: 1100px) {
  #Tutorials_Overview_Heading1_Div {
    font-size: 3.2vw;
  }

  #Tutorials_Overview_Text_Div {
    font-size: 2.3vw;
  }
  #Tutorials_Overview_Next_Button,
  #Tutorials_Overview_Back_Button {
    font-size: 1.9vw;
  }

  #Tutorials_Overview_Image_Bone {
    width: 50vw;
  }

  #Tutorials_Overview_Text_Div ul li {
    margin-left: 7%;
  }
}
