#Evalution_History_Table_Wrapper
{
    height:80vh;
}

#Evalution_History_Table_Head
{
    font-family: Lato, sans-serif;
    color: #fff;
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
}

