.Tutorial_XrayMatching_Matching_Error_Div
{
    font-size: 40px;
    color:#C50000;
    font-weight: bold;

}

.Tutorial_XrayMatching_Matching_Correct_Div
{
    font-size: 40px;
    color: #b4ec51;
    font-weight: bold;
}