#Evaluaion_NewEvaluation_Main_Div
{
    background-image: linear-gradient(119deg, #3023ae, #53a0fd 47%, #6eb6cc 81%, #b4ec51);
    min-height: 100vh;
    
    position: relative;
    overflow: hidden;
}

#Evaluaion_NewEvaluation_Content_Wrapper
{
  float:left;
  margin-left:15%;
  width:75%;
  min-width: 400px;
  max-width: 900px;
  height:100vh;
  line-height: 100vh;
  
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  
  /* justify-content: center;
  align-items: center; */
}

#Evaluaion_NewEvaluation_Text_Div
{
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 28px;

    margin-top: 0px;
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-weight: 400;
    box-sizing: border-box;
  
  /* vertical-align: middle; 
  display: table-row;  */
}

#Evaluaion_NewEvaluation_Heading1_Div
{
  font-family: Lato, sans-serif;
  color: #fff;
  font-weight: 700;
  display: block;
  margin-bottom: 5px;
  font-size: 36px;
  line-height: 40px;
}

#Evaluaion_NewEvaluation_Heading2_Div
{
    font-size: 32px;
   
    font-family: 'Lato', sans-serif;
    color: #fff;
    box-sizing: border-box;

    margin-top: 0px;
    margin-bottom: 5px;
    line-height: 48px;
    font-weight: 700;
  

  /* vertical-align: middle; 
  display: table-row; */
}

#Evaluaion_NewEvaluation_Image_div
{
  float: left;
  display: block;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  /* height:100vh; */
  width:300px;
  max-width:45%;
}


  #Evaluaion_NewEvaluation_Image_Bone
  {
    /* max-height:calc(100vh - 40px);
    min-height: 100px;
    width:auto;
    height:auto; */
    width: 300px;
    margin-top: 50px;
  }

  #Evaluaion_NewEvaluation_Image_Wrapper
  {
    display: inline-block;
  }

