#Evaluaion_Report_Main_Div
{
    background-image: linear-gradient(119deg, #3023ae, #53a0fd 47%, #6eb6cc 81%, #b4ec51);
    min-height: 100vh;
    margin: auto;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.Evaluaion_Report_Box_Text1
{
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    color: #fff;
    font-family: 'Lato',sans-serif;
}

.Evaluaion_Report_Box_Text2
{
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    color: #fff;
    font-family: 'Lato',sans-serif;
}



.Evaluaion_Report_Box_Priority
{
    font-size: 32px;
    line-height: 48px;
    font-weight: 400;
    color: #fff;
    font-family: 'Lato',sans-serif;
}

.Evaluaion_Report_Box_Priority_Box
{
    border:1px solid #fff;
    font-size: 32px;
    line-height: 48px;
    font-weight: 700;
    color: #fff;
    font-family: 'Lato',sans-serif;
    padding: 10px 20px;
    
    /* display:block */
}

.Evaluaion_Report_Box_Text3
{
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    font-family: 'Lato',sans-serif;
}


.Evaluaion_Report_Box_Text4
{   
    height:100px;
    width:121px;
    /* background: #3023ae; */
    /* padding-top: 5px; */
    transform: rotate(-45deg) translateY(-27px) translateX(80px);
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    font-family: 'Lato',sans-serif;
    word-wrap: nowrap;
}

.Evaluaion_Report_Box_Text5
{
    
    text-align: center;
    font-family: Lato, sans-serif;
    color: #fff;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: 400;
}

.Evaluaion_Report_Box_Selected_Box
{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}



.Evaluaion_Report_Box_Button_Div
{
  
  width:calc(100% - 10px);
  padding-left:5px;
  height:40px;
  margin: auto;
  position: absolute;
  top:7px;
}

.Evaluaion_Report_Box_Button
{
    display: block !important;
    width:100% !important;
    height:100% !important;
    margin: auto !important;
    /* padding: 15px 0px; */
    font-size: 18px !important;
    line-height: 18px !important;
    border-radius: 25px !important;
    background-color: #b4ec51 !important;
    font-family: 'Lato', sans-serif !important;
    font-weight: bold !important;
    text-transform: none !important;
}

.Evaluaion_Report_Box_Search_Box
{
   position:absolute;
   border-radius:10px; 
   bottom:10px;
   left:10px;
   padding:10px 10px 7px;
   background:#B4EC51;
}

.Evaluaion_Report_Box_Note_Box
{
    position:absolute;
    border-radius:5px; 
    bottom:0px;
    right:0px;
    padding:10px 10px 2px;
    background:#B4EC51;
 }

