#WDTJSSAEFTMALC_Main_Div {
  background-image: linear-gradient(
    119deg,
    #3023ae,
    #53a0fd 47%,
    #6eb6cc 81%,
    #b4ec51
  );
  min-height: 100vh;
  padding: 0px;
  position: relative;
  overflow: hidden;
}

#WDTJSSAEFTMALC_Content_Wrapper {
  margin: auto;
  min-width: 700px;
  width: 58%;
  /* max-width: 830px; */
  height: 100vh;
  padding: 0rem 0rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#WDTJSSAEFTMALC_Heading1_Div {
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 2vw;
  margin-bottom: 0px;
  display: block;
  font-weight: bold;
}

#WDTJSSAEFTMALC_Text_Div {
  font-size: 1.3vw;
  font-family: Lato, sans-serif;
  color: #fff;
}

#WDTJSSAEFTMALC_Image_Wrapper {
  margin-top: 15px;
  border: 3px solid white;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#WDTJSSAEFTMALC_Inner_Image_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

#WDTJSSAEFTMALC_Image_Wrapper img {
  border: 5px solid white;
  width: 80%;
}

#WDTJSSAEFTMALC_Next_Button_Div {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

@media screen and (max-width: 935px) {
  #WDTJSSAEFTMALC_Content_Wrapper {
    padding: 0rem 1rem 0rem 1rem;
    /* max-width: 650px; */
  }
}

#WDTJSSAEFTMALC_Next_Button {
  display: block;
  width: auto;
  min-width: 220px;
  padding: 16px 6px;
  font-size: 1.3vw;
  line-height: 1.4vw;
  border-radius: 25px;
  background-color: #b4ec51;
  font-family: Lato, sans-serif;
}

@media screen and (max-width: 1100px) {
  #WDTJSSAEFTMALC_Heading1_Div {
    font-size: 2.8vw;
  }

  #WDTJSSAEFTMALC_Text_Div {
    font-size: 1.9vw;
  }
  #WDTJSSAEFTMALC_Next_Button {
    font-size: 1.9vw;
  }
}
