#VDWXRTKC_Main_Div {
  background-image: linear-gradient(
    119deg,
    #3023ae,
    #53a0fd 47%,
    #6eb6cc 81%,
    #b4ec51
  );
  min-height: 80vh;
  padding: 0px;
  position: relative;
  overflow: hidden;
}

#VDWXRTKC_Content_Wrapper {
  margin: auto;
  min-width: 700px;
  width: 60%;
  /* max-width: 830px; */
  height: 100vh;
  padding: 0rem 0rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#VDWXRTKC_Heading1_Div {
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 2vw;
  display: block;
  font-weight: bold;
}

#VDWXRTKC_Text_Div,
#VDWXRTKC_Image_Heading {
  font-size: 1.3vw;
  font-family: Lato, sans-serif;
  color: #fff;
  box-sizing: border-box;
}

#VDWXRTKC_Image_Wrapper {
  margin-top: 10px;
  border: 3px solid white;
  padding: 5px;
}

#VDWXRTKC_Image_Heading {
  color: #fff;
  text-align: center;
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}
#VDWXRTKC_Image_container {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: stretch;
}

#VDWXRTKC_Inner_Image_Container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 48%; */
}

#VDWXRTKC_Inner_Image_Container img {
  width: 100%;
}
#VDWXRTKC_Next_Button_Div {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

@media only screen and (max-width: 935px) {
  #VDWXRTKC_Content_Wrapper {
    padding: 0rem 0rem 0rem 0rem;
  }
}

#VDWXRTKC_Next_Button {
  display: block;
  width: auto;
  min-width: 220px;
  padding: 16px 6px;
  font-size: 1.3vw;
  line-height: 1.4vw;
  border-radius: 25px;
  background-color: #b4ec51;
  font-family: Lato, sans-serif;
}

@media screen and (max-width: 1100px) {
  #VDWXRTKC_Heading1_Div {
    font-size: 2.8vw;
  }

  #VDWXRTKC_Text_Div,
  #VDWXRTKC_Image_Heading {
    font-size: 1.85vw;
  }
  #VDWXRTKC_Next_Button {
    font-size: 1.85vw;
  }
}
